fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
pydantic[email]==2.11.4
pydicom==3.0.1
Pillow==11.2.1
numpy==2.2.5
sqlalchemy==2.0.40
psycopg2-binary==2.9.10
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
PyJWT==2.10.1
